.button{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden; // for the overflow to work to hide the close button, you need to give position relative
    position: absolute; // changed from relative to absolute, so button doesn't get yeeted once we added the menu div
    // assist with location of button since position was set to absolute
    top: 0;
    right: 0;

    .slider{
        position: relative;
        height: 100%;
        width: 100%;

        .el{
            height: 100%;
            width: 100%;
            background-color: #c9fd74;
            text-transform: uppercase;

            &:nth-of-type(2){
                position: absolute;
                top: 100%;
                background-color: black;
                color: white;
            }

            &:hover{
                .perspectiveText{
                    transform: rotateX(90deg);

                    p{
                        &:nth-of-type(1){
                            transform: translateY(-100%);
                            opacity: 0;
                        }
                        &:nth-of-type(2){
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .perspectiveText{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
        transform-style: preserve-3d;

        p{
            transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);

            &:nth-of-type(2){
                position: absolute;
                transform: rotateX(-90deg) translateY(12px);
                transform-origin: bottom center;
                opacity: 0;
            }
        }
    }
}