.noise {
    animation: noise 1.2s steps(3) infinite both;
    background: url('/noise.png');
    height: 200%;
    left: -50%;
    pointer-events: none;
    position: fixed;
    top: -50%;
    width: 200%;
    will-change: auto;
    opacity: .7;
}

@keyframes noise {
    0% {
        transform: translate3d(1%, -1%, 0);
    }

    10% {
        transform: translate3d(-5%, -2%, 0);
    }

    20% {
        transform: translate3d(10%, 5%, 0);
    }

    30% {
        transform: translate3d(5%, -11%, 0);
    }

    40% {
        transform: translate3d(-12%, -5%, 0);
    }

    50% {
        transform: translate3d(10%, 9%, 0);
    }

    60% {
        transform: translate3d(15%, 0, 0);
    }

    70% {
        transform: translate3d(-10%, 8%, 0);
    }

    80% {
        transform: translate3d(10%, 2%, 0);
    }

    90% {
        transform: translate3d(1%, 5%, 0);
    }

    100% {
        transform: translate3d(0, 8%, 0);
    }
}